
{% extends "immarot/base.html" %}

{% block title %}Login{% endblock %}

{% block css_files %}
{% load static %}
<style>
    /* Custom styles for background and logo */
    body {
      background-image: url('{% static 'immarot/assets/img/background/background.png' %}'); /* Replace with your background image path */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .logo {
      display: block;
      margin: 0 auto 20px;
      width: 150px; /* Adjust the width as needed */
    }
    .card {
    background-color: #f2f6f9;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: none;
}
  </style>
{% endblock css_files %}

{% block content %}
    <div class="loader"></div>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="text-center">
              <!-- Logo Image -->
              <img src="{% static 'immarot/assets/img/logo.png' %}" alt="Logo" class="logo"> <!-- Replace with your logo path -->
            </div>
            <div class="card">
              <div class="card-header">
                <h4>Login</h4>
              </div>
              <div class="card-body">
                <form method="POST" action="{% url 'login' %}" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Email</label>
        <input id="username" type="email" class="form-control" name="username" tabindex="1" required autofocus>
        <div class="invalid-feedback">
            Please fill in your email
        </div>
    </div>
    <div class="form-group">
        <div class="d-block">
            <label for="password" class="control-label">Password</label>
            <div class="float-right">
                <a href="#" class="text-small">
                    Forgot Password?
                </a>
            </div>
        </div>
        <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
        <div class="invalid-feedback">
            Please fill in your password
        </div>
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
            <label class="custom-control-label" for="remember-me">Remember Me</label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
            Login
        </button>
    </div>
</form>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}